.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 16px;
}

.status-bar .time {
  color: var(--m-3-black, #000);
  text-align: right;
  font-feature-settings: "case" on;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.408px;
}
