.item_panel{
    margin:20px;
}

.item_sub_title{
    display: flex; /* 추가: flexbox 레이아웃 사용 */
    justify-content: space-between; /* 좌우로 배치 */
    padding-bottom: 15px;
    padding-top:15px;
}

.item_mid{
    text-align: right;
    margin-left: 10px;
}

.item_discription{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 90px;
}

.item_title{
    display: flex;
    justify-content: space-between;
}

.review_button{
    color: white;
    background-color:#4DA36F ;
    padding: 7px;
    text-align:center;
    margin-bottom: 5px;
    font-size: 12pt;
    border: none;
    border-radius:30px;
    width: 80px;
}

#heart{
    width: 32px; 
    height: 30px;
    padding-top: 6px;
    padding-bottom: 3px;
}