.review_panel {
    margin: 20px
}

.review_content {
    display: flex;
    padding: 5px;
    /* 추가: flexbox 레이아웃 사용 */
    justify-content: space-between;
    /* 좌우로 배치 */
    padding-bottom: 15px;
    padding-top: 15px;
}


.review_discription {
    margin-left: 10px;
    margin-top: 15px;
}

.starRate {
    width: 3.5625rem;
    height: 1.8125rem;
    font-size: 16pt;
    bottom: 10px;
    right: 20px;
    background-color: #4DA36F;
    color: #DBEDE2;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 3px;

}

hr{
    margin: 5px;
}