<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link href="../static/css/style.css" rel="stylesheet" />
        <script src="../static/js/main.js" defer></script>
    </head>
    <body>
        <nav>
            <div class="navbar__logo"><a href="">Ewha Market</a></div>
            <ul class="navbar__menu">
                <li><a href="">List</a></li>
                <li><a href="">Review</a></li>
                <li><a href="/reg_items">Register Items</a></li>
                <li><a href="">Register Reviews</a></li>
            </ul>
        </nav>
    </body>
</html>
