<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link href="../static/css/style.css" rel="stylesheet" />
        <script src="../static/js/main.js" defer></script>
    </head>
    <body>
        <nav>
            <div class="navbar__logo"><a href="">Ewha Market</a></div>
            <ul class="navbar__menu">
            {% if not session['id'] %}
            <li><a href="/login" class="navbar__login">login</a></li>
            {% endif %}
            {% if session['id'] %}
            <li><a href="/logout"><b>{{ session['id'] }}</b>님 반갑습니다! logout</a></li>
            {% endif %}
                <li><a href="/list">List</a></li>
                <li><a href="/review">Review</a></li>
                <li><a href="/reg_items">Register Items</a></li>
            </ul>
        </nav>
    </body>
    <section>
        {% block section %} 
        {% endblock section %}
    </section>
</html>
