<!DOCTYPE html>
<html lang="kor">

<head>
  <title>Welcome to Ewha Market!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/status-bar.css" />
  <link rel="stylesheet" href="/static/css/picture.css">
  <link rel="stylesheet" href="/static/css/text_style.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/screens/intro.css">

</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>
    <!-- 본문 코드 시작 -->
    
    <div>
        <div> <img id="handLogo" src="../static/assets/introHandLogo.svg"/> </div>
        <div> <img id="TxtLogo" src="../static/assets/introTxtLogo.svg"/> </div>

        <div>이화인을 위한 중고거래 플랫폼</div>
        <button id="start_button" name="이화마켓 시작하기" onclick="location.href='/logout'">이화마켓 시작하기</button>
    
    </div>
    
</body>
    
    

</html>
