<!DOCTYPE html>
<html lang="kor">

<head>
  <title>Items_Detailed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/css/status-bar.css" />
  <link rel="stylesheet" href="/static/css/picture.css">
  <link rel="stylesheet" href="/static/css/text_style.css">
  <link rel="stylesheet" href="/static/css/screens/items_detailed.css">
  <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

  <!-- 리뷰 사진 부분 -->
     <div class="pic">
    <img class="detailed-pic" src="../{{data['product-image']}}">
    <i class="fas fa-angle-left fa-3x"
        style="position: absolute; top: 40px; color: white; margin-left: 15px; z-index: 999; left: 0px;"></i>
    </div>


  <!-- 상품 제목 및 기본 정보 -->
  <div class="item_panel">
    <div name="item_head">
      <div class="item_title" name="item_title">
          <b  class="Caption1Style">{{data['productName']}}</b>
          <i class="fa fa-heart" id="heart"></i>
        </div>
        
      <div class="item_sub_title">
        <!-- 상품 상태 -->
        <div class="Caption3Style">{{data['productPrice']}}원</div>
        <i class="fas fa-laugh fa-2x"></i> <!-- 상태 보여줘야 됨!! -->
        <!-- <i class="fas fa-meh fa-2x"></i>   평범한 얼굴 아이콘 -->
      </div>
    </div>
    <hr>
    <div name="item_mid" class="item_mid">
      <div class="Caption3Style" style="margin-top: 20px;">{{data['sellerId']}}</div>
      <div class="Caption4Style" style="margin-top: 10px; margin-bottom: 10px;">판매자 지역</div>
      <button class="review_button" type="button" onclick="location.href='/reg_review_init/{{name}}/';"> 리뷰등록  </button>
    </div>
    <hr>
    <div class="item_discription">
      <p class="Caption3style">{{data['description']}}
    </div>
  </div>

  <div class="button_container">
    <button class="oval_button" type="button" >구매하기</button>
  </div>
</body>
    
    
   
    <p>
    {% block section %}
    <script>
      function showHeart() {
          console.log("showHeart called");
          $.ajax({
              type: 'GET',
              url: '/show_heart/{{name}}/',
              data: {},
              success: function (response) {
                  let my_heart = response['my_heart'];
                  if (my_heart['interested'] == 'Y') {
                      $("#heart").css("color", "red");
                      $("#heart").attr("onclick", "unlike()");
                  } else {
                      $("#heart").css("color", "grey");
                      $("#heart").attr("onclick", "like()");
                  }
              }
          });
      }
        


      function like() {
          $.ajax({
              type: 'POST',
              url: '/like/{{name}}/',
              data: {
                  interested : "Y"
              },
              success: function (response) {
                  alert(response['msg']);
                  window.location.reload()
              }
          });
      }

      function unlike() {
          $.ajax({
              type: 'POST',
              url: '/unlike/{{name}}/',
              data: {
                  interested : "N"
              },
              success: function (response) {
                  alert(response['msg']);
                  window.location.reload()
              }
          });
      }
        $(document).ready(function () {
            showHeart();
        });
    </script>
    {% endblock %}
</p>

</html>
