<!DOCTYPE html>
<html lang="kor">

<head>
  <title>Items_Detailed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/status-bar.css" />
  <link rel="stylesheet" href="../static/css/detailed_pic.css">
  <link rel="stylesheet" href="../static/css/text_style.css">
  <link rel="stylesheet" href="../static/css/screens/items_detailed.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

  <!-- 리뷰 사진 부분 -->
  <div class="pic" style="text-align: center;">
    <img src="../{{data['product-image']}}"/>
  </div>


  <!-- 상품 제목 및 기본 정보 -->
  <div class="item_panel">
    <div name="item_head">
      <div class="Caption1Style" name="item_title"><b>{{data['productName']}}</b></div>
        <i class="fa fa-heart" id="heart"></i>
      <div class="item_sub_title">
        <!-- 상품 상태 -->
        <div class="Caption3Style" style="margin-top:5px">{{data['productPrice']}}원</div>
        <i class="fas fa-laugh fa-2x"></i> <!-- 웃는 얼굴 아이콘 -->
        <!-- <i class="fas fa-meh fa-2x"></i>   평범한 얼굴 아이콘 -->
      </div>
    </div>
    <hr>
    <div name="item_mid" class="item_mid">
      <div class="Caption3Style" style="margin-top: 20px;">{{data['sellerId']}}</div>
      <div class="Caption3Style" style="margin-top: 10px; margin-bottom: 20px;">판매자 지역</div>
    </div>
    <hr>
    <div class="item_discription">
      <p class="Caption3style">{{data['description']}}
        <!-- 줄바꿈 어떻게 할지 생각해보기 pre태그 쓰니까 모양 깨짐 입력 차원에서 해결해야 할듯 -->
      </p>
    </div>
  </div>

  <div class="button_container">
    <button class="oval_button" type="button" >구매하기</button>
    <button onclick="location.href='/reg_review_init/{{name}}/';"> 리뷰등록  </button>
  </div>
</body>
    
    
    
      <script>
    function showHeart() {
      $.ajax({
        type: 'GET',
        url: '/show_heart/{{name}}/',

        data: {},
        success: function (response) {
          let my_heart = response['my_heart'];
          if (my_heart['interested'] == 'Y') {

            $("#heart").css("color", "red");
            $("#heart").attr("onclick", "unlike()");
          }
          else {
            $("#heart").css("color", "grey");
            $("#heart").attr("onclick", "like()");
          }
          //alert("showheart!")
        }
      });
    }

    function like() {
      $.ajax({
        type: 'POST',
        url: '/like/{{name}}/',
        data: {
          interested: "Y"
        },
        success: function (response) {
          alert(response['msg']);
          window.location.reload()
        }
      });
    }

    function like() {
      $.ajax({
        type: 'POST',
        url: '/unlike/{{name}}/',
        data: {
          interested: "N"
        },
        success: function (response) {
          alert(response['msg']);
          window.location.reload()
        }
      });
    }
    $(document).ready(function () {
      showHeart();
    });

  </script>

</html>
