<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/static/css/status-bar.css" />
    <link rel="stylesheet" href="/static/css/alt-header.css" />
    <link rel="stylesheet" href="/static/css/screens/reg_items.css" />
    <link rel="stylesheet" href="/static/css/items.css" />
    <link rel="stylesheet" href="/static/css/text_style.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    
  </head>
  <body class="bg-white" style="width: 375px; height: 812px">
    <!-- 상단 status-bar -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span class="time">9:41</span>
      </div>
      <div class="status-bar__column"></div>
      <div class="status-bar__column">
        <img src="../static/assets/phone-status.svg" alt="" />
      </div>
    </div>

    <div class="container">
      <header class="header">

        <div class="logo-welcome-container"></div>

        <div class="logo" center-svg>
          <img src="../static/assets/EM.svg">
          
        </div>
      </header>



      <main class="main-content">
        <div class="welcome-message">
          <h1>
            어서오세요,<br />
            <span id="user-display" class="user-display-color"  >{{ session['id'] }}</span>님!
          </h1>
        </div>
        </div>

        <div class="button-group">
          <button class="btn" onclick="location.href='{{ url_for('reg_item') }}'">
            상품<br/>등록하기 
              <img src="../static/assets/inbox.svg" class="btn-img">     
          </button>
           <button class="btn" onclick="location.href='{{ url_for('view_list') }}'">
            상품<br />전체보기
              <img src="../static/assets/giftbox.svg" class="btn-img">
          </button>
           <button class="btn" onclick="location.href='{{ url_for('view_review') }}'">
            리뷰<br />전체보기
              <img src="../static/assets/OneStar.svg" class="btn-img">
          </button>
          <button class="btn" onclick="location.href='{{ url_for('view_mypage') }}'">
            마이페이지
              <img src="../static/assets/HappyFace.svg" class="btn-img">
          </button>
        </div>
        <div class="footer">
          <div class="footer-content"></div>
        </div>
      </main>
    </div>
    <!-- <script src="main.js"></script> -->
  </body>
</html>
