<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="../static/css/status-bar.css" />
    <link rel="stylesheet" href="../static/css/alt-header.css" />
    <link rel="stylesheet" href="../static/css/screens/reg_items.css" />
    <link rel="stylesheet" href="../static/css/items.css" />
    <link rel="stylesheet" href="../static/css/text_style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />

    <link rel="stylesheet" href="../static/css/mainpage_ewhamarket.css" />
  </head>
  <body>
    <!-- 상단 status-bar -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <i class="fas fa-battery-full fa-lg"></i>
        <i class="fas fa-bolt"></i>
      </div>
    </div>

    <div class="container">
      <header class="header">
        <div class="logo"></div>
        <img
          src="../static/assets/logo_simple.svg"
          style="width: 200px; height: 200px"
        />
      </header>
      <main class="main-content">
        <div class="welcome-message">
          <h1>안녕하세요, <span id="user-display">(User ID)</span>님!</h1>
        </div>
        <div class="button-group">
          <button class="btn">상품 등록하기</button>
          <br />
          <button class="btn">상품 조회하기</button>
          <br />
          <button class="btn">리뷰 조회하기</button>
          <br />
          <button class="btn">마이페이지</button>
        </div>
        <div class="footer">
          <div class="footer-content"></div>
        </div>
      </main>
    </div>
    <script src="mainpage_ewhamarket.js"></script>
  </body>
</html>
