<!DOCTYPE html>
<html lang="kor">

<head>
  <title>마이페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/status-bar.css" />
  <link rel="stylesheet" href="../static/css/alt-header.css" />
  <link rel="stylesheet" href="../static/css/detailed_pic.css">
  <link rel="stylesheet" href="../static/css/text_style.css">
  <link rel="stylesheet" href="../static/css/my_page.css">
  <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

  <!-- 마이페이지 상단 -->
  <div class="mp_header">
    <!-- 상단 header -->
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="#">
          <i class="fas fa-angle-left fa-3x"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <div class="header_text" style="color:white">마이 페이지</h1>
        </div>
    </header>

    <div class="user_info">
      <div class="Caption2Style" name="user_ID"><b>userID1234</b></div>
      <div class="Caption3Style" name="user_email">user@mail.com</div>

    </div>
    <button class="logout_button" type="button">로그아웃</button>

  </div>

  <div class="mp_pane">

    <!-- 최근 구매 상품 -->
    <div name="recently_bought">
      <div class="Caption2Style"><b>내가 최근에 구매한 상품</b></div>
      <hr>
    <!-- 내용  -->
      <!-- 아이템 하나    -->
      <div name="rb_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img
              src="https://i.namu.wiki/i/vnQavQ42P79sRSPC_Gyv3JUScxMIdTMhoMvwPd2gZHywb5Q1RYrNa55t9UL0NlFU-zATYa-D3yoH-LMwrH_7t_yRAuDV6KQ9A-JjMBLi8lLSHu3BEThGdkYBIJJVIsL-aXr95E9kShV4G5CTV8mkNw.svg">
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
            </div>
            <button class="review_button" type="button">리뷰쓰기</button>
          </div>
        </div>
      </div>
      
      <div name="rb_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img
              src="https://i.namu.wiki/i/vnQavQ42P79sRSPC_Gyv3JUScxMIdTMhoMvwPd2gZHywb5Q1RYrNa55t9UL0NlFU-zATYa-D3yoH-LMwrH_7t_yRAuDV6KQ9A-JjMBLi8lLSHu3BEThGdkYBIJJVIsL-aXr95E9kShV4G5CTV8mkNw.svg">
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
            </div>
            <button class="review_button" type="button">리뷰쓰기</button>
          </div>
        </div>
      </div>

    </div>

    <!-- 줄 건너뛰기 -->
    <br>
    <br>

    <!--최근 등록 상품-->
    <div name="recently_uploaded">
      <div class="Caption2Style"><b>내가 최근에 등록한 상품</b></div>
      <hr>

      <div  name="rr_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img
              src="https://i.namu.wiki/i/vnQavQ42P79sRSPC_Gyv3JUScxMIdTMhoMvwPd2gZHywb5Q1RYrNa55t9UL0NlFU-zATYa-D3yoH-LMwrH_7t_yRAuDV6KQ9A-JjMBLi8lLSHu3BEThGdkYBIJJVIsL-aXr95E9kShV4G5CTV8mkNw.svg">
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
              <div class="mp_disc">이 상품에 대한 설명</div>
            </div>
          </div>
        </div>
      </div>

      <div  name="rr_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img
              src="https://i.namu.wiki/i/vnQavQ42P79sRSPC_Gyv3JUScxMIdTMhoMvwPd2gZHywb5Q1RYrNa55t9UL0NlFU-zATYa-D3yoH-LMwrH_7t_yRAuDV6KQ9A-JjMBLi8lLSHu3BEThGdkYBIJJVIsL-aXr95E9kShV4G5CTV8mkNw.svg">
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
              <div class="mp_disc">이 상품에 대한 설명</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>

</html>