<!DOCTYPE html>
<html lang="kor">

<head>
  <title>마이페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/status-bar.css" />
  <link rel="stylesheet" href="../static/css/alt-header.css" />
  <link rel="stylesheet" href="../static/css/text_style.css">
  <link rel="stylesheet" href="../static/css/screens/my_page.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar" style="background-color: #4DA36F">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

  <!-- 마이페이지 상단 -->
  <div class="mp_header">
    <!-- 상단 header -->
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="/mainpage">
          <i class="fas fa-arrow-left fa-lg" 
             style="position: absolute; top: 40px; color: white; margin-left: 15px; z-index: 999; left: 0px;">
          </i>
        </a>
      </div>
      <div class="alt-header__column">
        <div class="header_text" style="color:white">마이 페이지</div>
        </div>
    </header>

    <div class="user_info">
      <div class="Caption2Style" name="user_ID"><b>{{value['id']}}iduser@mail.com</div>

    </div>
    <button class="logout_button" type="button" onclick="location.href='/logout'">로그아웃</button>

  </div>

  <div class="mp_pane">

    <!-- 최근 구매 상품 -->
    <div name="recently_bought">
      <div class="Caption2Style"  style="color: #0A5226">
        <img src="../static/assets/flower.svg" />
        <b>내가 최근에 구매한 상품</b></div>
      <hr>
    <!-- 내용  -->
      <!-- 아이템 하나    -->
      <div name="rb_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img/>
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
            </div>
            <!-- <button class="review_button" type="button">리뷰쓰기</button> -->
               <button class="review_button" type="button" onclick="location.href='/reg_review_init/{{name}}/';"> 리뷰등록  </button>
          </div>
        </div>
      </div>
      
      <div name="rb_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img">
            <img/>
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
            </div>
              <button class="review_button" type="button" onclick="location.href='/reg_review_init/{{name}}/';"> 리뷰등록  </button>
          </div>
        </div>
      </div>

    </div>

    <!-- 줄 건너뛰기 -->
    <br>
    <br>

    <!--최근 등록 상품-->
    <div name="recently_uploaded">
      <div class="Caption2Style" style="color: #0A5226">
        <img src="../static/assets/flower.svg" />
        <b>내가 최근에 등록한 상품</b>
      </div>
      <hr>

      <div  name="rr_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"><img/>
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
              <div class="mp_disc">이 상품에 대한 설명</div>
            </div>
          </div>
        </div>
      </div>

      <div  name="rr_item" class="item_container">
        <div class="mp_item">
          <!-- 사진 -->
          <div class="mp_img"> <img/>
          </div>
          <!--글씨로 내용-->
          <div class="rb_contets">
            <div class="mp_txt">
              <div class="mp_title">상품명</div>
              <div class="mp_price">0,000원</div>
              <div class="mp_disc">이 상품에 대한 설명</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <br><hr>
    <div>
      <button class="withdrawl" onclick="withdrawlCheck()">회원 탈퇴하기</button>
    </div>
    
  </div>
<script src="../static/js/hw/mypage.js"></script>
</body>

</html>