<!DOCTYPE html>
<html>
  <head>
    <title>상품 등록하기</title>
    <link rel="stylesheet" href="../static/css/status-bar.css" />
    <link rel="stylesheet" href="../static/css/alt-header.css" />
    <link rel="stylesheet" href="../static/css/submit_btn.css" />
    <link rel="stylesheet" href="../static/css/screens/reg_items.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- 상단 status-bar -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <i class="fas fa-battery-full fa-lg"></i>
        <i class="fas fa-bolt"></i>
      </div>
    </div>
    <!-- 상단 header -->
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="#">
          <i class="fas fa-arrow-left fa-lg" style="color: black"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <h1 class="alt-header__title">상품 등록하기</h1>
      </div>
    </header>
    <main>
      <form action="/submit_items_post" method="post" onsubmit="return validateForm()">
        <label for="sellerId">판매자 ID</label>
        <!-- [TODO] 로그인 정보에서 가져올 수 있도록 하기 -->
        <input type="text" id="sellerId" name="sellerId" required /><br /><br />

        <label for="productName">상품 이름</label>
        <input
          type="text"
          id="productName"
          name="productName"
          required
        /><br /><br />

        <label for="productImage"></label>
        <input
          type="file"
          id="productImage"
          name="productImage"
          accept=".jpg, .png"
          onchange="checkFile()"
          required
        />
        <div id="imageWrapper" onclick="uploadImage()">
          <img id="defaultIcon" src="../static/assets/camera.svg" />
          <img id="imagePreview" />
        </div>
        <br /><br />

        <label for="productPrice">상품 가격</label>
        <input
          type="text"
          id="productPrice"
          name="productPrice"
          required
          onkeyup="formatPrice()"
        /><br /><br />

        <label>지역</label>
        <div id="currentLocation">현재 위치를 가져오는 중...</div>
        <script>
          // getCurrentLocation();
        </script>
        <br /><br />

        <label for = "status">상태</label><br />
        <div id="statusWrapper">
          <input
            type="radio"
            name="condition"
            value="상"
            id="condition1"
            required
          /><label for="condition1">상</label>
          <input
            type="radio"
            name="condition"
            value="중"
            id="condition2"
            required
          /><label for="condition2">중</label>
          <input
            type="radio"
            name="condition"
            value="하"
            id="condition3"
            required
          /><label for="condition3">하</label><br /><br />
        </div>
        <br />

        <label for="description">상세 내용</label><br />
        <textarea
          id="productDescription"
          name="productDescription"
          rows="12"
          cols="50"
          required
        ></textarea
        ><br /><br />

        <input id="submitBtn" type="submit" value="등록하기" />
      </form>
    </main>
    <script src="../static/js/reg_items.js"></script>
  </body>
</html>
