<!DOCTYPE html>
<html>
  <head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성하기</title>
    <link rel="stylesheet" href="/static/css/status-bar.css" />
    <link rel="stylesheet" href="/static/css/alt-header.css" />
    <link rel="stylesheet" href="/static/css/screens/reg_reviews.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- 상단 status-bar -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span class="time">18:43</span>
      </div>
      <div class="status-bar__column"></div>
      <div class="status-bar__column">
        <img src="/static/assets/phone-status.svg" alt="" />
      </div>
    </div>
    <!-- 상단 header -->
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="/">
          <i class="fas fa-arrow-left fa-lg" style="color: black"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <h1 class="alt-header__title">리뷰 작성하기</h1>
      </div>
    </header>
    <main>
      <form
        action="/reg_review"
        method="post"
        onsubmit="return validateForm()"
        enctype="multipart/form-data"
      >
        <label for="productImage"></label>
        <input
          type="file"
          id="productImage"
          name="productImage"
          accept=".jpg, .png, .jpeg"
          onchange="checkFile()"
          required
        />
        <div id="imageWrapper" onclick="uploadImage()">
          <img id="defaultIcon" src="/static/assets/camera.svg" />
          <img id="imagePreview" />
        </div>
        <br />
        <div class="textContent">
          <label for="reviewTitle">리뷰 제목</label><br />
          <input
            type="text"
            id="reviewTitle"
            name="reviewTitle"
            required
          /><br />

          <label for="productName">상품 이름</label><br />
          <!-- [TODO] 클릭한 카드에서 직접 가져오기 -->
          <input
            type="text"
            id="productName"
            name="productName"
            value="{{ name }}"
            required
          /><br />

          <label for="reviewerId">리뷰자 아이디</label><br />
          <!-- [TODO] 로그인 정보에서 직접 가져오기 -->
          <input type="text" id="reviewerId" name="reviewerId" required />
          <hr />

          <label>별점</label><br />
          <fieldset class="rate">
            <input type="radio" name="rating" value="5" id="rate1" />
            <label for="rate1"></label>
            <input type="radio" name="rating" value="4" id="rate2" />
            <label for="rate2"></label>
            <input type="radio" name="rating" value="3" id="rate3" />
            <label for="rate3"></label>
            <input type="radio" name="rating" value="2" id="rate4" />
            <label for="rate4"></label>
            <input type="radio" name="rating" value="1" id="rate5" />
            <label for="rate5"></label>
          </fieldset>
          <div id="ratingTxt">별점: 0</div>

          <br />
          <label for="reviewText">리뷰 글</label><br />
          <textarea
            id="reviewText"
            name="reviewText"
            rows="12"
            cols="39"
            required
          ></textarea>
        </div>
        <input id="submitBtn" type="submit" value="등록하기" disabled />
      </form>
    </main>
    <script src="/static/js/reg_reviews.js"></script>
  </body>
</html>
