<!DOCTYPE html>
<html lang="kor">

<head>
  <title>Review_Detailed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../static/css/status-bar.css" />
  <link rel="stylesheet" href="../static/css/detailed_pic.css">
  <link rel="stylesheet" href="../static/css/text_style.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/screens/review_detailed.css">

</head>

<body>
  <!-- 상단 status-bar -->
  <div class="status-bar">
    <div class="status-bar__column">
      <span>No Service</span>
      <i class="fas fa-wifi"></i>
    </div>
    <div class="status-bar__column">
      <span>18:43</span>
    </div>
    <div class="status-bar__column">
      <span>100%</span>
      <i class="fas fa-battery-full fa-lg"></i>
      <i class="fas fa-bolt"></i>
    </div>
  </div>

    <p>
    review title is <b>{{review['title']}}</b> and rate is {{review['point']}} points out of 5 points
    </p>
    <img src="../../static/images/{{review['image_path']}}" width=140 height=200/>
    <p>
        {{review['content']}}
    </p>
    
</body>

</html>
