<!DOCTYPE html>
<html>
  <head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>SignUp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/status-bar.css" />
    <link rel="stylesheet" href="/static/css/alt-header.css" />
    <link rel="stylesheet" href="/static/css/screens/sign_up.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <!-- 상단 status-bar -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span class="time">18:43</span>
      </div>
      <div class="status-bar__column"></div>
      <div class="status-bar__column">
        <img src="../static/assets/phone-status.svg" alt="" />
      </div>
    </div>
    <!-- 상단 header -->
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="/login">
          <img src="../static/assets/left-arrow.svg" alt="" />
        </a>
      </div>
      <div class="alt-header__column">
        <img src="../static/assets/logo_txt.svg" />
      </div>
    </header>
    <main>
      <h1>회원가입하기</h1>
      <!-- [TODO] 폼 제출 post 연결 -->
      <form
        action="/signup_post"
        method="post"
        onsubmit="return validateForm();"
      >
        <div class="customerInput">
          <div class="content-wrapper"></div>
          <div class="content-wrapper"></div>
          <div class="content-wrapper"></div>
          <div class="content-wrapper"></div>
          <div class="content-wrapper"></div>
          <label for="id"><span>아이디</span><span>*</span></label
          ><br />
          <div id="idContent">
            <input
              type="text"
              id="id"
              name="id"
              required
              placeholder="아이디를 입력해주세요"
            />
            <button id="checkIdBtn" onclick="checkDuplicate()" >
              중복 확인
            </button>
          </div>
          <div class="check-comment" id="check-id">*아이디 중복확인</div>

          <label for="password"><span>비밀번호</span><span>*</span></label
          ><br />
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="비밀번호를 입력해주세요"
          />
          <div class="check-comment" id="check-pw">*10자 이상 입력</div>

          <label for="confirmPassword"
            ><span>비밀번호 확인</span><span>*</span></label
          ><br />
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
            placeholder="비밀번호를 한번 더 입력해주세요"
          />
          <div class="check-comment" id="check-pw-re">*비밀번호 재입력</div>

          <label for="email"><span>이메일</span><span>*</span></label
          ><br />
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="예: ewhamarket@ewha.com"
          />
          <div class="check-comment" id="check-email">
            이메일 형식에 맞게 써주세요
          </div>

          <label for="phone">핸드폰 번호</label><br />
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="'-' 없이 숫자만"
                 
          />
        </div>

        <input
          type="hidden"
          id="duplicateCheck"
          name="duplicateCheck"
          value=""
        />

        <input id="submitBtn" type="submit" value="가입 완료하기" disabled />
      </form>
    </main>
    <script src="../static/js/sign_up.js"></script>
      <script>
        function checkDuplicate() {
            var idInput = document.getElementById("id").value;
            var duplicateCheck = document.getElementById("duplicateCheck");

            $.ajax({
                type: 'POST',
                url: '/check_id',
                data: JSON.stringify({ "id": idInput }),  // JSON.stringify를 사용하여 JSON 형식으로 변환
                contentType: 'application/json',  // Content-Type을 명시
                success: function(result){
                    // console.log("result success = "+result);
                    duplicateCheck.setAttribute("value", "confirmed");
                    document.getElementById("check-id").style.visibility = "hidden";
                },
                error: function(xhr, status, error){
                    // console.log("result error = "+status);
                    duplicateCheck.setAttribute("value", "");
                    alert("중복된 아이디입니다.");
                }
            });
        }
    </script>
  </body>
</html>
